#{$all-button-inputs},
button,
.button {
  color: inherit;
  border-bottom: none;
  box-shadow: none;
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    background: none;
    box-shadow: none;
    outline: none;
  }
  @include appearance(none);
  background-color: $action-color;
  border: solid 2px rgba(0,0,0,0);
  border-radius: $base-border-radius;
  color: $base-background-color;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  text-transform: uppercase;
  white-space: nowrap;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background: white;
    color: $action-color;
    border: solid 2px $action-color;
  }

  &:disabled {
    cursor: normal;
    background-color: desaturate($action-color,60%);
    opacity: .5;
  }
}
