body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 500;
  letter-spacing: .03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}


h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 3em;
}

h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: $base-font-size * 1.2;
  max-width: $reading-width;
  margin: 0 auto $baseline auto;
}

a {
  text-decoration: none;
  border-bottom: .08em solid $action-color;
  box-shadow: inset 0 -.08em 0 $action-color;
  color: inherit;
  transition: background 0.1s cubic-bezier(.33,.66,.66,1);

  &:active,
  &:focus,
  &:hover {
    background: $action-color;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

a:focus {
    outline: 0;
}

::-moz-selection {
    background: $bc-blue;
    text-shadow: none;
}

::selection {
    background: $bc-blue;
    text-shadow: none;
    color: white;
}

.big-txt {
  text-align: center;
  font-weight: 700;
}

@include selection {
  background-color: rgba($bc-blue,0.95);
  color: white;
}

.scatterText {
  word-spacing: .2em;
  max-width: 14em;
  span[class^="word"] {
    white-space: pre;
  }
  span {
    @include scatterText();
  }
}

.see-more {
  a {
    font-size: 1.4em;
    @extend %underlinelink;
  }
  display: block;
  text-align: center;
  clear: both;
}

.cta {
  &.cta--link {
    @extend %bluelink;
  }
}

/* =Genericons and Dashicons
-------------------------------------------------------------- */
@mixin dashicons {
    color: $icon-color;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 16px/1 'Dashicons';
    vertical-align: middle;
}

@mixin genericons {
    color: $icon-color;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 16px/1 'Genericons';
    vertical-align: middle;
}




// Link Styles


%blacklink {
  color: black;
  border-bottom: none;
  box-shadow: none;
  &:focus,
  &:hover {
    text-decoration: underline;
    background: none;
  }
}

%bluelink {
  color: $bc-blue;
  border-bottom: none;
  box-shadow: none;
  &:focus,
  &:hover {
    text-decoration: underline;
    background: none;
  }
}

%underlinelink {
  color: black;
  text-decoration: underline;
  border-bottom: none;
  box-shadow: none;
  &:focus,
  &:hover {
    text-decoration: none;
    background: none;
  }
}

%nolinkstyle {
  color: inherit;
  border-bottom: none;
  box-shadow: none;
  &:focus,
  &:hover {
    text-decoration: none;
    background: none;
    box-shadow: none;
    outline: none;
  }
}
