// Screen Widths

$phone : 27.5rem;

$phablet : 40rem;

$tablet : 60rem;

$laptop : 80rem;

$desktop : 90rem;

//Specific Widths
$horizontal-bar-mode: $phablet;

$homepage-video-width: 850px;


// Typography
$TWCen: "TWCen", "Proxima Nova", "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
$Roboto: "Roboto", "Proxima Nova", "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;

$base-font-family: $Roboto;
$heading-font-family: $base-font-family;

$title: $Roboto;
$content: $georgia;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.25;
$baseline : $base-line-height * 1rem;
$heading-line-height: 1.25;

// Other Sizes
$base-border-radius: 0px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$reading-width: 37em;
$navigation-height: 2.7em;

// Colors
$gray: #ededed;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$bc-blue : #2B67E4;
$bc-lime : #B3DB48;
$bc-orange : #FF7656;
$bc-yellow : #ffd900;
$bc-pink : #FF939F;

$white : #FFF;
$black : #272822;

$primary-font-color: $dark-gray;
$link-color: $bc-blue;
$shadow: rgba(0, 0, 0, .6);

// Font Colors
$base-background-color: #fff;
$base-body-color: #fff;
$base-font-color: black;
$action-color: $bc-blue;
$icon-color: $base-font-color;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

//Paths

// Glyphicons font path
$icon-font-path:        "../images/fonts/";
$image-path:        "../images/";
