%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

%left {
    float: left;
}

%right {
    float: right;
}

%absolute-centering {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%text-centered {
    text-align: center;
}

%pseudo-element {
    position: absolute;
    display: block;
    content: '';
}

%unstyled-list {
    padding: 0;
    list-style: none;
}

.hide-overflow,
.noscrolling {
    overflow: hidden;
}

.hidden {
  visibility: hidden;
}

%blacklink {
  color: black;
  border-bottom: none;
  box-shadow: none;
  &:active,
  &:focus,
  &:hover {
    text-decoration: underline;
    background: none;
  }
}

%underlinelink {
  color: black;
  text-decoration: underline;
  border-bottom: none;
  box-shadow: none;
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    background: none;
  }
}

%nolinkstyle {
  color: inherit;
  border-bottom: none;
  box-shadow: none;
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    background: none;
    box-shadow: none;
    outline: none;
  }
}
