#sc-widget-wrap {
  position: fixed;
  bottom: -100px;
  left: 2em;
  width: 4em;
  background: white;
  height: 35px;
  transition: all ease-in-out .3s;
  text-align: center;
  &.active {
    display: block;
  }
  &.show {
    bottom: 0;
  }
  &.up {
    height: 125px;
  }
  &.up--peeping {
    bottom: -60px;
  }
  &__controls {
    display: inline-block;
    a {
      @extend %nolinkstyle;
      color: black;
      cursor: pointer;
      display: inline;
      line-height: 35px;
      vertical-align: middle;
      img {
        width: 1em;
        vertical-align: middle;
      }
      &.sc-widget-wrap__pause:before {
        width: 1em;
        height: 1em;
        background: url('../images/partials/pause.svg') center center no-repeat;
        background-size: contain;
        display: inline-block;
        margin-right: .2em;
        font-size: 0.8em;
      }
      &.sc-widget-wrap__play:before {
        width: 1em;
        height: 1em;
        background: url('../images/partials/play.svg') center center no-repeat;
        background-size: contain;
        display: inline-block;
        margin-right: .2em;
        font-size: 0.8em;
      }
    }
  }
  // &.playlist {
  //   height: 70%;
  // }
  iframe {
    display: none;
  }
}
