.social__links {
  @extend %unstyled-list;
  li {
    display: inline-block;
    margin-right: 1em;
    &.social__icon {
      width: 1.5em;
      @include hover-grow();
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

#mc_embed_signup {
  h2 {
    font-size: 1.2em;
    text-align: left;
  }
  display: none;
  max-width: 24em;
  margin: auto;
  padding: 2em;
  .featherlight & {
    display: block;
  }
}
