div.headervideo.responsive {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  @include media(850px) {
      display: block;
  }
  opacity: 0;
  @include transition( all .6s );
  &.loaded {
    opacity: 1;
  }
}

.ytplayer-container{
  position: absolute;
  top: 0;
  z-index: -1;
}

.ytplayer-shield {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

#sound {
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 2em;
  right: 1.5em;
  z-index: 15;
  cursor: pointer;
  display: none;
  @include hover-grow();
  transition: all .4s ease-in-out, transform .07s ease;
  opacity: 0;
  &.loaded {
    opacity: 1;
  }
  @include media($homepage-video-width) {
    display: block;
  }
  &.disabled {
    cursor: default;
    display:none;
  }
  img {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .white {
    @include transition( opacity .9s );
  }
  .black {
    opacity: .5;
  }
}

#sound.muted {
  .white {
    opacity: 1;
  }
  .black {
  }
}
