.bc-words {
  @include outer-container;
  &__posts {
    @include span-columns(11);
    @include shift(.5);
  }
  .bc-words-allposts {
    display: block;
  }
}



article.hentry.category-blog {
  &:nth-last-of-type(3) ~ article {
    @include span-columns(6);
    @include shift(0)
    .entry-image,
    .entry-text {
      @include fill-parent();
    }
    .entry-text {
      margin-top: 1em;
    }
    &:first-of-type {
      @include shift(1);
    }
  }
  @include span-columns(12);
  margin-bottom: 2.5em;
  .entry-image,
  .entry-text {
    @include fill-parent();
  }
  .entry-text {
    margin-top: 1em;
  }
  .entry-image {
    background-color: $bc-yellow;
  }
  img {
    width: 100%;
    display: block;
    @include transition( all .5s ease );
  }
  @include media($phablet) {
    .entry-image {
      @include span-columns(8);
    }
    .entry-text {
      @include span-columns(4);
      margin-top: 0;
    }
  }
  a {
    text-decoration: none;
    h2 {
      color: black;
      font-size: 1.5em;
      text-align: left;
      text-transform: none;
      display: block;
      &:hover, &:active, &:focus {
        color: black;
      }
    }
    &:hover h2 {
      text-decoration: underline;
    }

    &:hover, &:active, &:focus {
      img {
        opacity: .6;
        @include filter(grayscale(50%));
      }

    }

    p {
      color: $base-font-color;
      padding: 0;
      font-size: 1em;
    }
    @include media($tablet) {
      p {
        font-size: 1.2em;
      }
      h1 {
        font-size: 1.8em;
      }
    }
  }
}
