.home {
  h2.scatterText {
    font-size: 2em;
    @include media($phablet) {
      font-size: 3em;
    }
  }
  .main-section {
    &#about {
      padding-top: 2em;
      position: relative;
      margin-top: 0;
      @include media($horizontal-bar-mode) {
        margin-top: 2em;
      }
      #welcome {
        position: relative;
        z-index: 1;
        margin-top: 1em;
        p {
          text-align: left;
        }
        h2 {
          font-size: 2.3em;
        }
      }
      .images {
        z-index: -1;
        overflow: hidden;
      }
      img.left {
        top: 2%;
        left: -250px;
        position: absolute;
        transform: rotate(2deg);
        height: 90%;
      }
      img.right {
        top: 7%;
        right: -20%;
        position: absolute;
        transform: rotate(-70deg);
        width: 68%;
        min-width: 22em;
      }
    }
    &#highlight {
      background-color: lighten($bc-blue, 30%);
      color: $black;
      padding-top: 1em;
      padding: 1em;
    }
    &#volunteering {
    }
    background-color: white;
  }
}

section#bc-words {
  >p {
    text-align: center;
  }
}

section#faq {
  .expandable {
    max-width: $reading-width;
    margin: auto;
    p {
      padding: .5em;
      text-align: center;
    }
  }
}

section#volunteer {
  &:target .reveal {
    display: block;
  }
}

section#tickets {
  text-align: center;
  .tickets__links {
    text-align: center;
  }
  h1 {
    color: white;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
  }
  .ticket-buttons {
    span,.button {
      margin: 0 0.7em 0.7em;
    }
    span {
      font-size: .9em;
      opacity: 1;
      position: relative;
      &.previous {
        text-decoration: line-through;
      }
    }
    .cta {
      font-size: 1.4em;
      margin: .5em 0 1em;
      &:hover,&:active,&:focus {
        color: $bc-blue;
        border-color: $bc-blue;
        background-color: white;
      }
      &.volunteer-link {
        font-size: 1em;
        margin-top: $base-spacing;
      }
    }
  }
}

section#getinvolved {
  text-align: center;
  ul {
    margin-right: auto;
    margin-left: auto;
  }
}

section#gallery {
  a {
    @extend %nolinkstyle;
  }
  .slide {
    @include outer-container;
  }
  .slide__image {
    @include span-columns(6);
    width: 50%;
    padding: 5px;
    @include omega();
  }
  img {
    display: block;
    width: 100%;
  }
  p {
    font-size: .9em;
    text-align: right;
    max-width: 100%;
    margin-bottom: 0;
  }
}

.lineup-posters {
  @include row;
  margin-bottom: 1.5em;
  .bc2013 {
    @include span-columns(12);
    a {
      @include span-columns(6);
    }
  }
  .bc2015 {
    @include span-columns(6);
    @include shift(3);
  }
  @include media($phablet) {
    .bc2013 {
      @include span-columns(8);
    }
    .bc2015 {
      @include span-columns(4);
      @include shift(0);
    }
  }
  img {
    max-height: 80vh;
    width: 100%;
    max-width: 17em;
  }
}

.home section#splash {
  z-index: 0;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  height: auto;
  @include media(850px) {
    height: 70vh;
  }
  @include media($horizontal-bar-mode) {
    top: $navigation-height;
  }
  overflow: hidden;
  background-image: url(#{$image-path}/background/video-poster-16.jpg);
  background-size: cover;
  background-position: center center;
  .splash__frame {
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .splash__text {
    text-align: left;
    opacity: .99;
    background: transparent;
    text-transform: uppercase;
    color: white;
    transition: visibility .2s ease-in-out;
    z-index: 2;
    @include pad(1.5em);
    @include media($phone) {
      img.logo {
        max-width: 12em;
      }
    }
    &>:not(.logo) {
      margin-left: 14px;
    }
    h3 {
      font-size: 1.2em;
      text-align: left;
      font-weight: 600;
    }
    h2 {
      font-size: 3em;
      margin-bottom: 0;
      text-align: left;
      display: block;
      color: white;
    }
    h2.location {
      font-size: 1.7em;
    }
    img.logo {
      max-width: 9em;
    }
  }
}

div.social {
  padding-top: 1.5em;
  @include media(850px) {
    position: absolute;
    bottom: 2em;
  }
  .modal {
    color: black;
    text-transform: uppercase;
  }
}
