.home {
  body &,
  html &,
  & div.wrap.container,
  & div.content.row,
  & main.main {
    height: 100%;
  }
  h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  footer {
    text-align: center;
  }
  .banner {
    position: absolute;
    background-color: transparent;
    top: 2.5em;
    ul li.menu-item a {
      color: white;
      transition: color ease .3s;
    }
    @include media($phablet) {
      &.sticky {
        background-color: $bc-blue;
        transition: background ease 1s;
      }
    }
  }
  .main-section {
    @include pad(4em 2%);
    text-align: center;
    p {
      text-align: left;
    }
    &__text {
      text-align: center;
      margin: 4em auto;
      p {
        text-align: center;
        font-size: 1.3em;
      }
    }
    h2 {
      letter-spacing: 2px;
      display: inline-block;
      color: $bc-pink;
    }
    &#about {
      padding-top: 2em;
    }
    &#tickets {
      padding: 0;
    }
    &#lineup {
      padding-top: 0em;
    }
    &#highlight {
      background-color: lighten($bc-blue, 30%);
      color: $black;
    }
    background-color: white;
  }
}

section#bc-words {
  >p {
    text-align: center;
  }
}

section#faq {
  .expandable {
    max-width: $reading-width;
    margin: auto;
    p {
      padding: .5em;
      text-align: center;
    }
  }
}

section#volunteer {
  &:target .reveal {
    display: block;
  }
}

section#tickets, .featherlight-inner.tickets__volunteering {
  text-align: center;
  .tickets__links {
    background-color: $dark-gray;
    background-image: url(#{$image-path}background/BW-17.jpg);
    text-align: center;
    background-size: cover;
    background-position: center center;
    padding: 10%;
  }
  h1 {
    color: white;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
  }
  button,.button {
    background-color: $bc-pink;
    margin: 0 0.7em 0.7em;
  }
  button {
    font-size: .9em;
    opacity: 1;
    background-color: desaturate($bc-pink, 80%);
    position: relative;
    &.previous:after {
      border-bottom: solid #FFF 2px;
      content: "";
      position: absolute;
      width: 90%;
      left: 0;
      right: 0;
      margin: auto;
      top: 17px;
      opacity: .9;
    }
  }
  .cta {
    font-size: 1.4em;
    margin: .5em 0 1em;
    &:hover,&:active,&:focus {
      color: $bc-pink;
      border-color: $bc-pink;
      background-color: white;
    }
    &.volunteermodal-link {
      font-size: 1em;
    }
  }
  .active-tier {
    @include media ($tablet) {
      display: inline-block;
      &.volunteer {
        display: block;
      }
    }
  }
  .tickets__volunteering {
    display: none;
  }
}

section#getinvolved {
  text-align: center;
  ul {
    margin-right: auto;
    margin-left: auto;
    }
  p {
    text-align: center;
  }
}

section#gallery {
  .slide {
    @include outer-container;
  }
  .slide__image {
    @include span-columns(6);
    width: 50%;
    padding: 5px;
    @include omega();
    &:nth-of-type(3) {
      @include span-columns(12);
    }
  }
  img {
    display: block;
    width: 100%;
  }
  p {
    font-size: .9em;
    text-align: right;
    max-width: 100%;
    margin-bottom: 0;
  }
}

.lineup-posters {
  @include row;
  margin-bottom: 1.5em;
  .bc2013 {
    @include span-columns(12);
    a {
      @include span-columns(6);
    }
  }
  .bc2015 {
    @include span-columns(6);
    @include shift(3);
  }
  @include media($phablet) {
    .bc2013 {
      @include span-columns(8);
    }
    .bc2015 {
      @include span-columns(4);
      @include shift(0);
    }
  }
  img {
    max-height: 80vh;
    width: 100%;
    max-width: 17em;
  }
}

.home section#splash {
  z-index: 0;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  height: 100%;
  overflow: hidden;
  background-image: url(#{$image-path}/background/video-poster.jpg);
  background-size: cover;
  background-position: center center;
  .splash__frame {
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    @include media($phone) {
      border: 1.7em solid white;
    }
  }
  .splash__text {
    text-align: left;
    opacity: .99; //new stacking order.
    background: transparent;
    text-transform: uppercase;
    color: white;
    transition: visibility .2s ease-in-out;
    padding: .5em;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include media($phone) {
      padding: 2.5em;
      img.logo {
        max-width: 12em;
      }
    }
    &>:not(.logo) {
      margin-left: 14px;
    }
    h3 {
      font-size: 1.2em;
      text-align: left;
      font-weight: 600;
    }
    h2 {
      font-size: 3em;
      margin-bottom: 0;
      text-align: left;
      display: block;
      color: white;
    }
    h2.location {
      font-size: 1.7em;
    }
    img.logo {
      max-width: 9em;
    }
  }
}

div.social {
  position: absolute;
  bottom: 0;
  padding: .5em;
  margin-left: 14px;
  @include media($phone) {
    padding: 2.5em;
  }
  .modal {
    color: black;
    text-transform: uppercase;
  }
}
