article.category-highlights {
  header {
    position: relative;
    h1.entry-title {
      color: rgba(white,1);
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      padding: 0;
      margin: 0;
      $bc-pink1: darken($bc-pink, 20%);
      $bc-pink2: rgba($bc-pink1, .3);
      @include shadwell($bc-pink2,2);
      text-transform: uppercase;
      letter-spacing: 2px;
      overflow: hidden;
      text-align: center;
      font-size: 10vw;
      width: 100%;
      @include media($tablet) {
        font-size: 5em;
      }
    }
  }
}

.home section.highlights {
  @include row;
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}

.posts {
  article.category-highlights {
    width: 100%;
    padding: 0;
    margin: 0;
    float: left;
    display: inline-block;
    vertical-align: top;
    float: left;
    @include media($phone) {
      width: 49.999%;
    }
    header {
      @include aspect-ratio(3,2);
      margin-bottom: 0;
      overflow: hidden;
      &:hover {
        .entry-image__overlay {
          opacity: .2;
        }
        img {
          transform: scale(1.03);
        }
      }
      .entry-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      img {
        filter: brightness(90%);
        transition: all .8s;
        width: auto;
        object-fit: cover;
        height: 100%;
      }
      > a,
      > a img {
        border: none;
        outline: none;
        display: block;
      }
      h1 {
        font-size: 2.2em;
        @include media($phone) {
          font-size: 1.8em;
        }
        @include media($phablet) {
          font-size: 2.6em;
        }
        @include media($laptop) {
          font-size: 4.2vw;
        }
      }
      .entry-image__overlay {
        background-color: $bc-blue;
        opacity: .3;
        mix-blend-mode: screen;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transition: .8s;
        transition: .8s;
      }
    }
  }
}
