#lineup {
  text-align: left;
  z-index: 1;
  .artist__grid {
    @include outer-container;
    position: relative;
    h2.entry-title {
      display: inline-block;
      position: relative;
      overflow: hidden;
      font-size: 1.3em;
      margin: 0 0 .25em;
      text-align: left;
      a {
        @extend %blacklink;
        &:hover, &:active, &:focus {
          text-decoration: none;
        }
      }
      &:not(:last-of-type):after {
        content: " / ";
        margin: .5em;
      }
    }
    .entry-image {
      visibility: hidden;
      display: inline-block;
      position: absolute;
      background: white;
      width: 15em;
      img {
        opacity: .8;
        filter: grayscale(100%);
      }
      &.show {
        visibility: visible;
      }
    }
  }

  h2.entry-title, li a {
    text-transform: lowercase;
  }

  section {
    padding: 20px 0;
    margin: 0 auto;
    text-align: left;
    width: 100%;
  }

  h2.entry-title {
    letter-spacing: .03em;
    color: rgba(black,1);
  }

  article.hentry {
    display: inline-block;
    &.artist__expanded > a:after {
      top: auto;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: #ECECEC;
      border-width: 15px;
      left: 50%;
      margin: -20px 0 0 -15px;
    }
    &.artist__expanded .entry-image,
    .entry-image:hover {
    }
    > a,
    > a img {
      border: none;
      outline: none;
      display: block;
      position: relative;
    }
    .artist__bio {
      p {
        font-weight: 400;
        font-size: 1em;
        line-height: 1.25;
        color: #676767;
        padding: 0;
        text-align: left;
      }
    }
    .entry-image {
      overflow: hidden;
    }
  }
}

.featherlight {
  .entry-title {
    font-size: 2.4em;
    margin-bottom: .25em;
  }
}

.lineup-overlays {
  display: none;
}



.artist__fullimg,
.artist__details {
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.artist__details {
  padding: 0 40px 0 20px;
  overflow-style: scrollbar;
  overflow: scroll;
  margin-bottom: 1em;
  height: 95%;
  h3 {
    font-weight: 300;
    font-size: 1.8em;
    padding: 0;
    margin-bottom: 10px;
  }
}

.artist__links {
  a {
      @extend %blacklink;
      font-weight: 500;
      color: black;
      text-transform: lowercase;
      letter-spacing: .05em;
      padding: 0.5em;
      display: inline-block;
      margin: 0 3px 10px 0;
      outline: 0;
    &:hover,
    &:active {
      border-color: #999;
      color: black;
    }
    &.soundcloud_link:before {
      content: '\25BA';
      display: inline-block;
      margin-right: .2em;
      font-size: 0.8em;
    }
  }
}

.artist__fullimg {
  text-align: center;
  img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
  }
}

.artist__loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ECECEC;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
}

@keyframes loader {
  0% { background: #ECECEC; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ECECEC; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ECECEC, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

  .artist__expander h3 { font-size: 32px; }
  .artist__expander p { font-size: 13px; }
  .artist__expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

  .artist__fullimg { display: none; }
  .artist__details { float: none; width: 100%; }
  .artist__links { float: none; width: 100%; position: static; }

}

.filter-tabs {
  list-style: none;
  text-align: center;
  padding: 0;
  font-size: 1.2em;
  margin-bottom: $base-spacing * 2;
  >li {
    transition: all ease .2s;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 .35em;
    margin-bottom: 0.2em;
    padding: 0 .1em;
    line-height: 1.3;
    a {
    }
  }
  >li.active a {
    font-weight: 600;
  }
}


section.installations {
  text-align: center;
  position: relative;
  @include outer-container;
  a.showmore {
    opacity: 1;
    padding: 1em 1em 1.5em;
    width: 100%;
    background: white;
    font-size: 1.4em;
    @extend %blacklink;
  }
  h2.entry-title, li a {
    text-transform: lowercase;
  }
  section {
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  .entry-content, .artist__links, .artist__close {
    display: none;
  }
  h2.entry-title {
    text-align: left;
    letter-spacing: 2px;
    margin-bottom: 0;
    color: rgba(black,1);
    font-size: 1.3em;
    padding: .2em;
    overflow: hidden;
  }
  article.hentry {
    float: none;
    display: inline-block;
    margin-bottom: 1em;
    text-align: left;
    margin-top: 1.5em;
    @include span-columns(6);
    @include media( max-width $phablet ) {
      @include pad();
      @include omega();
      &:nth-child(3n+3) {
        @include span-columns(10);
        @include shift(1);
      }
    }
    @include media($phablet) {
      padding: 0;
      &:nth-child(10n+1) {
        @include span-columns(3);
        @include shift(1.5);
        margin-top: 3.5em;
      }
      &:nth-child(10n+2) {
        @include span-columns(4);
        @include shift(3);
        @include omega();
        margin-bottom: 3.5em;
      }
      &:nth-child(10n+3) {
        @include span-columns(5);
        margin-top: 3em;
        clear: left;
      }
      &:nth-child(10n+4) {
        margin-top: 4em;
        @include span-columns(2.5);
        @include shift(.5);
      }
      &:nth-child(10n+5) {
        @include span-columns(3);
        @include shift(1);
        @include omega();
      }
      &:nth-child(10n+6) {
        @include span-columns(2.5);
        @include shift(1.5);
        clear: left;
      }
      &:nth-child(10n+7) {
        @include span-columns(6);
        @include shift(.5);
        margin-top: 10%;
      }
      &:nth-child(10n+8) {
        @include span-columns(4.5);
        @include shift(0);
      }
      &:nth-child(10n+9) {
        @include span-columns(3);
        @include shift(1);
        margin-top: 5%;
      }
      &:nth-child(10n+10) {
        @include span-columns(2);
        @include shift(1.5);
        @include omega();
        margin-top: 20%;
        margin-bottom: 3em;
      }
    }
  }
}
