.artist-lightbox {
  overflow-y: scroll;
  .featherlight-content {
    width: 100%;
    margin: 0;
    height: 100%;
    opacity: 0;
    @include media($phablet) {
      top: 100%;
      width: 40em;
      max-width: 100%;
    }
    @include pad(2.5em);
    max-height: none;
    @include transition(all 1s ease-in-out);
    .modal-open & {
      top: 0;
      opacity: 1;
      @include transition-delay(0.6s);
      @include media($phablet) {
        @include transition-delay(0.3s);
        top: 8%;
      }
    }
  }
  .artist__content {
    text-align: center;
    .entry-title,.entry-content {
      text-align: left;
    }
  }
  .artist__close {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: auto;
    span {
      cursor: pointer;
      line-height: 40px;
      font-weight: 500;
    }
  }
  .featherlight-close-icon {
    display: none;
  }
  .featherlight-previous {
    left: 35%;
    right: auto;
  }
  .featherlight-next {
    right: 35%;
    left: auto;
  }
  .featherlight-previous, .featherlight-next {
    bottom: auto;
    top: 0px;
    span {
      position: static;
      color: black;
      display: inline-block;
      font-size: 30px;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      width: auto;
      line-height: 37px;
      margin: auto;
    }
  }
  .featherlight-inner {
    max-width: 35em;
    margin: auto;
  }
  .entry-image {
    max-width: 24em;
    margin: auto;
    text-align: center;
    margin-bottom: $base-spacing;
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 22em;
    }
  }
  h2.entry-title {
    text-transform: lowercase;
    text-align: left;
  }
}


#lineup {
  text-align: left;
  z-index: 1;
  #artist__grid {
    @include outer-container;
    position: relative;
    @include pad(4em 0);
    h2.entry-title {
      display: inline-block;
      position: relative;
      overflow: hidden;
      font-size: 1.3em;
      margin: 0 0 .25em;
      a {
        @extend %blacklink;
        &:hover, &:active, &:focus {
          text-decoration: none;
        }
      }
      &:not(:last-of-type):after {
        content: " / ";
        margin: .5em;
      }
    }
    .entry-image {
      visibility: hidden;
      display: inline-block;
      position: absolute;
      background: white;
      max-width: 15em;
      img {
        opacity: .8;
        filter: grayscale(100%);
      }
      &.show {
        visibility: visible;
      }
    }
  }

  .lineup-overlays {
    display: none;
  }

  h2, li a {
    text-transform: lowercase;
  }

  section {
    padding: 20px 0;
    margin: 0 auto;
    text-align: left;
    width: 100%;
  }

  h2.entry-title {
    letter-spacing: .03em;
    color: rgba(black,1);
  }

  article.hentry {
    display: inline-block;
    &.artist__expanded > a:after {
      top: auto;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: #ECECEC;
      border-width: 15px;
      left: 50%;
      margin: -20px 0 0 -15px;
    }
    &.artist__expanded .entry-image,
    .entry-image:hover {
    }
    > a,
    > a img {
      border: none;
      outline: none;
      display: block;
      position: relative;
    }
    .artist__bio {
      p {
        font-weight: 400;
        font-size: 1em;
        line-height: 1.25;
        color: #676767;
        padding: 0;
        text-align: left;
      }
    }
    .entry-image {
      overflow: hidden;
    }
  }
}

.artist__expander {
  position: absolute;
  background: #ECECEC;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden;
  &-inner {
    padding: 50px 30px;
    height: 100%;
  }
}



.artist__fullimg,
.artist__details {
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.artist__details {
  padding: 0 40px 0 20px;
  overflow-style: scrollbar;
  overflow: scroll;
  margin-bottom: 1em;
  height: 95%;
  h3 {
    font-weight: 300;
    font-size: 1.8em;
    padding: 0;
    margin-bottom: 10px;
  }
}

.artist__expander {
  .artist__links {
    width: 48%;
    float: right;
    a {
      display: none;
      &.active {
        display: inline-block;
      }
    }
  }
}

.artist__links {
  a {
      font-weight: 500;
      color: black;
      text-transform: lowercase;
      letter-spacing: .05em;
      padding: 0.5em;
      display: inline-block;
      margin: 0 3px 10px 0;
      outline: 0;
    &:hover,
    &:active {
      border-color: #999;
      color: black;
    }
    &.soundcloud_link:before {
      content: '\25BA';
      display: inline-block;
      margin-right: .2em;
      font-size: 0.8em;
    }
  }
}

.artist__fullimg {
  text-align: center;
  img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
  }
}

.artist__loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ECECEC;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
}

@keyframes loader {
  0% { background: #ECECEC; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ECECEC; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ECECEC, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

  .artist__expander h3 { font-size: 32px; }
  .artist__expander p { font-size: 13px; }
  .artist__expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

  .artist__fullimg { display: none; }
  .artist__details { float: none; width: 100%; }
  .artist__links { float: none; width: 100%; position: static; }

}

.filter-tabs {
  list-style: none;
  text-align: center;
  padding: 0;
  font-size: 1.2em;
  margin-bottom: $base-spacing;
  >li {
    transition: all ease .2s;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 .35em;
    margin-bottom: 0.2em;
    padding: 0 .1em;
    line-height: 1.3;
    a {
      border-bottom: 4px solid rgba($bc-pink,0);
      @extend .btn-effect--fade;
    }
  }
  >li.active a {
    font-weight: 600;
    border-bottom: 3px solid rgba($bc-pink,.8);
    transition: all ease .2s;
  }
}
