.single-post {
  article {
    @include row;
    margin-bottom: 1.5em;
    header {
      margin-bottom: 1em;
    }
    .header__content {
      margin-bottom: $base-spacing;
      @include pad(0 5%);
      @include media($phablet) {
        @include span-columns(8);
        @include shift(2);
      }
      .entry-title {
        font-weight: 500;
        text-align: left;
        text-transform: none;
        font-size: 1.8em;
        margin-bottom: 0;
      }
      .entry-meta {
        margin: 0;
      }
    }
    .header__content,
    .entry-content {
      @include media($tablet) {

      }
      @include fill-parent;
    }

    footer {
      @include span-columns(12);
    }

    .entry-content {
      margin-bottom: 2.5em;
      img {
          display: block;
          max-height: 80vh;
          width: auto;
      }
      p {
        font-weight: 400;
      }
    }


    .featured-img {
      width: 100%;
      display: block;
      margin: 0 auto 1.5em;
      overflow: hidden;
    }

    blockquote {
      @include media($tablet) {
        @include shift(-2);
        @include span-columns(14);
      }
      text-decoration: underline;
      margin: 1em .8em;
    }

    blockquote {
      font-size: $base-font-size*1.8;
      p {
        padding: 0;
      }
    }

    .caption {
      font-size: $base-font-size*0.9;
      text-decoration: none;
      margin-top: -1px;
      @include media($tablet) {
        @include shift(0);
        @include fill-parent();
      }
      @include media($large-screen) {
        @include shift(-4);
        @include span-columns(4);
        text-align: center;
      }
    }
  }
}

.entry-meta {
  time,
  span {
    font-style: italic;
  }
  margin-bottom: 0;
}

.entry-content iframe {
  max-width: 100%;
}
