body.woocommerce {
  h1,h2,h3,h4,h5,h6 {
    text-align: inherit;
  }
  .page-header h1,.page-title {
    text-align: center;
  }
  h2 {
    font-size: $base-font-size;
  }
  .page-header {
    margin-bottom: 2.5em;
  }
  ul.products {
    text-align: center;
    li.product {
      float: none !important;
      margin-left: 1em;
      margin-right: 1em;
      display: inline-block;
    }
  }
  p {
    max-width: none;
  }

  p.price,
  span.price {
    color: $bc-blue;
  }

  #respond input#submit,
  a.button,
  button.button,
  input.button,
  a.button.alt,
  button.button.alt,
  input.button.alt {
    border-radius: 1px;
    &:hover,
    &:active,
    &:focus {
      border: none;
    }
    &.alt {
      background-color: lighten($bc-orange, 10%);
      &:hover,
      &:active,
      &:focus {
        background-color: $bc-orange;
      }
      &.disabled,
      &:disabled {
        background-color: $bc-orange;
      }
    }
  }
}

body.woocommerce.single-product {

  h1.page-title {
    display: none;
  }
  div.product {
    margin-top: 2.5em;
    @include row;
    @include pad();
    padding: 1.5em 5%;
  }
  div.images img {
    max-width: 19em;
    margin-left: auto;
    margin-right: auto;
  }
  .product_meta span {
    display: block;
  }
  .woocommerce-tabs {
    ul.tabs li {
      border-radius: 1px;
    }
  }
  form.cart .variations select {
    min-width: 0;
    display: inline-block;
    margin-bottom: 0;
  }
}
