body.woocommerce {
  .page-header {
    margin-bottom: 2.5em;
  }
  ul.products {
    text-align: center;
    li.product {
      float: none;
      margin-left: 1em;
      margin-right: 1em;
      display: inline-block;
    }
  }

  #respond input#submit,
  a.button,
  button.button,
  input.button
  a.button.alt,
  button.button.alt,
  input.button.alt {
    border-radius: 1px;
    background-color: lighten($bc-orange, 10%);
    &:hover,
    &:active,
    &:focus {
      border: none;
      background-color: $bc-orange;
    }
    &.disabled,
    &:disabled {
      background-color: $bc-orange;
    }
  }
}

body.woocommerce.single-product {

  h1.page-title {
    display: none;
  }
  div.product {
    margin-top: 2.5em;
    @include outer-container;
    @include pad();
    padding: 1.5em 5%;
  }
  .product_meta span {
    display: block;
  }
  .woocommerce-tabs {
    ul.tabs li {
      border-radius: 1px;
    }
  }
}
